@import "tailwindcss";
* {
    --primary-color: #2C5364;
    --secondary-color: #203A43;
    --tertiary-color: #0F2027;
    --text-color: #fefefe;
    --dark-gray: #333333;
    --bg-color: #242424;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

.body-gradient{
    background: var(--dark-gray);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364 10%, #203A43 30%, #0F2027 50%, #333333 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 767px) {
    .body-gradient{
        background: var(--bg-color)!important;
    }
}

.link{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #fefefe;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0.5rem 1.25rem;
    border-radius: 32px;
    border: 1px solid transparent;
}

.link:hover{
    opacity: 0.8;
    background: var(--bg-color);
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container label{
    margin-left: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fefefe;
    margin-bottom: 0.2rem;
}

.input-container input{
    padding-left:1rem;
    padding-right: 1rem;
    border: 1px solid #444;
    border-radius: 32px;
    background-color: #333;
    color: #fefefe;
    font-size: 1rem;
}

.input-container input:focus {
    border-color: #fefefe;
    outline: none;
}
